<div class="container">
  <div class="form-group">
    <div class="col-md-6">
      <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search Items" />
    </div>
  </div>
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th class="pointer" *ngFor="let headers of tableContent.headers" (click)="sortColumn(headers.id)"> {{headers.name}} </th>
      </tr>

      <tr *ngFor="let contents of tableContent.data">
        <td *ngFor="let headers of tableContent.headers"> {{contents[headers.id]}} </td>
      </tr>

    </table>
  </div>
</div>