<div class="container">
  <div class="row form-group">
    <div class="col-md-6">
      <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search Items" />
    </div>

    <div class="col-md-3">
      <select (change)="getDisplayRecords()" [(ngModel)]="perPage">
          <option value="" selected disabled>Choose here</option>
        <option *ngFor="let pSize of pageSizes" [ngValue]="pSize[1]">{{pSize[0]}}</option>
      </select>
    </div>
  </div>
  <div class="table-responsive" *ngIf="tableFields!= null">
    <table class="table">
      <tr>
        <th class="pointer" *ngFor="let headers of tableFields.headers" >
          
          <p *ngIf="!headers.hasChildren" (click)="sortColumn(headers.id)">
            {{headers.name}}
          </p>
          
          <p *ngIf="headers.hasChildren">
              {{headers.name}}
              <th *ngFor="let childHeader of headers.children; let id = index" (click)="sortColumn(headers.id, childHeader.id, id)"> {{childHeader.name}} </th>
          </p>
          
        </th>

      </tr>
      <!-- 
      <tr>
        <td *ngFor="let headers of tableFields.headers; let i = index">
          <input type="text" [(ngModel)]="searchByCat" (keyup)="searchByColumnId(headers.id)" class="form-control" placeholder="Search Items" />
        </td>
      </tr> -->


      <tr *ngFor="let contents of tableFields.data | category : searchText">
        <td *ngFor="let headers of tableFields.headers">
          <p *ngIf="!headers.hasChildren"> {{contents[headers.id]}} </p>

          <p *ngIf="headers.hasChildren">
            <td *ngFor="let childHeader of headers.children; let i = index">
              {{contents[headers.id][i][childHeader.id] }}
            </td>
          </p>

        </td>
      </tr>

    </table>
  </div>

  <div class="pagination" *ngIf="count > 0 && !searchText && perPage!=count">
    <div class="description">
      <span class="page-counts">{{ minPageNum }} - {{ maxPageNum }} of {{ count }}</span>
      <span class="page-totals">{{ totalPageNum }} pages</span>
    </div>
    <div class="numbers">
      <button class="link" (click)="onPrev()" [disabled]="page === 1 || loading" [ngClass]="{ 'disabled': page === 1 || loading }">&lt; Previous</button>

      <button *ngFor="let pageNum of getPages()" (click)="onPage(pageNum)" [ngClass]="{'active': pageNum === page, 'disabled': loading}">{{ pageNum }}</button>

      <button class="link" (click)="onNext(true)" [disabled]="lastPage() || loading" [ngClass]="{ 'disabled': lastPage() || loading }">Next &gt;</button>

    </div>
  </div>

</div>